@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в демо, Телефонный справчник</h1>
    <p><h1>Данный сайт показывает демоверсию справочника, вы можете просмотреть контакты, отредактировать список или добавить новый. </h1></p>
    <p>
        <h2>
            Сайт разработан на .net Core MVC с помощью программной среды Visual Studio 2022.
        </h2>
    </p>
</div>
